.container-modal-media {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(1, 1, 1, 0.3);
	backdrop-filter: blur(10px);
}

.form-container-media {
	height: 80vh;
	width: 80%;
	padding: 10px;
	text-align: left;
	background: white;
	border-radius: 20px;
	border: 1px #f24726 solid;
}

.form-container-media section {
	display: flex;
}

.form-container-media div h2 {
	color: black;
	font-size: 0.8rem;
	font-weight: 700;
}

.form-container-media div p {
	font-size: 0.7rem;
	font-weight: 400;
}

.div-nombre-del-media {
	width: 300px;
}

.div-nombre-del-media input {
	font-size: 0.7rem;
	width: 261px;
	padding: 10px;
	border-radius: 5px;
	outline: none;
	border: 1px lightgray solid;
	font-family: 'Times New Roman', Times, serif;
}

.div-file-del-media {
	margin: 20px 0;
}

.div-file-del-media span {
	text-align: center;
	color: grey;
	font-size: 0.9rem;
	margin-right: 20px;
}

.div-file-del-media input {
	font-size: 0.8rem;
	color: gray;
}

.div-informacion-del-media textarea {
	border: 1px lightgrey solid;
	border-radius: 5px;
	padding: 10px;
	font-size: 0.7rem;
	outline: none;
	font-family: 'Times New Roman', Times, serif;
}

.div-buttom-del-media {
	display: flex;
	position: relative;
	width: 100%;
}

.div-buttom-del-media button {
	position: absolute;
	top: 10px;
	right: 20px;
	width: 150px;
	height: 40px;
	color: #fff;
	background-color: #f24726;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#cancelar {
	position: absolute;
	top: 10px;
	right: 180px;
	width: 150px;
	height: 40px;
	color: #fff;
	background-color: #f22626;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.div-file-del-media-1 {
	margin: 20px 0;
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 20px;
}

.div-file-del-media-1 label {
	border: 1px lightgray solid;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 30px;
	width: 100px;
	cursor: pointer;
}

.div-file-del-media-1 span {
	color: black;
	font-size: 0.8rem;
	font-weight: 700;
}
