.container-eventos-card {
	width: 90%;
	display: inline-flex;
	justify-content: left;
	align-items: center;
	border: 1px lightgray solid;
	border-radius: 10px;
	margin: 10px 20px;
	background-color: rgba(255, 255, 255, 0.3);
	z-index: 0;
}

.container-eventos-card:hover {
	background-color: #ec8874;
	cursor: pointer;
	transition: 0.5s;
}

.div-eventos-imagen {
	width: 20%;
	text-align: center;
}

.div-eventos-imagen img {
	width: 100px;
	height: 100px;
	object-fit: fill;
	border-radius: 10px;
	margin: 5px 0;
}

.div-eventos-descripcion {
	width: 60%;
}

.div-eventos-button {
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.div-eventos-button #editar {
	display: inline-flex;
	width: 100px;
	height: 30px;
	background-color: rgb(0, 172, 240);
	border: none;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	align-items: center;
	justify-content: center;
}

.div-eventos-button #editar:hover {
	transform: scale(1.1);
	transition: 0.3s;
}

.div-eventos-button #eliminar {
	display: inline-flex;
	width: 100px;
	height: 30px;
	background-color: rgb(202, 18, 18);
	border: none;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

.div-eventos-button #eliminar:hover {
	transform: scale(1.1);
	transition: 0.1s;
}

.div-eventos-button #eliminar span {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 5px;
}

.div-eventos-button #editar span {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 15px;
}

.button-crear-evento {
	position: fixed;
	top: 85%;
	left: 90%;
	z-index: 10;
}

.button-crear-evento button {
	font-size: 2rem;
	border: none;
	background: transparent;
	transform: rotate(0deg);
	transition: transform 0.8s;
	cursor: pointer;
}

.button-crear-evento button:hover {
	transform: rotate(360deg);
	color: #f24726;
}

.button-crear-evento button::before {
	font-size: 0.6rem;
	content: 'Crear Evento';
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	background: #333;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	opacity: 0;
	transition: opacity 0.5s;
}

.button-crear-evento button:hover::before {
	opacity: 1;
}
