.container-notificaciones {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	height: 95vh;
}

.container-notificaciones section {
	margin: 20px 0;
}

.section-notificaciones-mensajes h2 {
	font-size: 1rem;
	letter-spacing: 0.5px;
	text-align: center;
	margin-bottom: 30px;
}

.section-notificaciones-mensajes p {
	font-size: 0.8rem;
	font-weight: 200;
	text-align: center;
	letter-spacing: 0.5px;
}

.section-notificaciones-input {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 40px;
	border: 1px lightgrey solid;
	border-radius: 10px;
	background-color: #fff;
	gap: 10px;
}

.section-notificaciones-input input {
	width: 70%;
	border: none;
	padding: 5px;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}

.container-notificaciones section textarea {
	border: 1px lightgrey solid;
	border-radius: 10px;
	padding: 10px;
	outline: none;
}

.container-notificaciones section button {
	width: 300px;
	height: 40px;
	letter-spacing: 0.5px;
	border: 1px lightgrey solid;
	border-radius: 10px;
	background-color: #fff;
	cursor: pointer;
}

.container-notificaciones section button:hover {
	color: #fff;
	background-color: brown;
}
