.aside-panel {
	background-color: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(10px);
	height: 95vh;
}

.aside-panel h1 {
	margin: 0;
}

.aside-panel div {
	margin: 10px 0;
}

.aside-panel div a:-webkit-any-link {
	color: black;
	text-decoration: none;
}

.aside-panel div a:-webkit-any-link:hover {
	color: blueviolet;
}
