.container-ver-detalles-evento {
	display: flex;
	width: 90%;
	padding: 5px 20px;
	height: 90vh;
}

.section-form-ver-detalles-del-evento {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: left;
	flex-wrap: wrap;
}

.section-form-ver-detalles-del-evento > div {
	display: flex;
	flex-direction: column;
}

.section-form-ver-detalles-del-evento div > p {
	text-align: left;
}

.section-form-ver-detalles-del-evento div > textarea {
	padding: 10px;
	font-size: 0.7rem;
	font-weight: 200;
	outline: none;
	border: 1px lightgray solid;
	border-radius: 5px;
}

.section-form-ver-detalles-del-evento div > input {
	width: 300px;
	font-size: 0.7rem;
	font-weight: 200;
	border: 1px lightgray solid;
	border-radius: 5px;
	height: 30px;
	padding: 5px;
	outline: none;
}

.section-img-ver-detalles-del-evento {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
}

.section-img-ver-detalles-del-evento div {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.section-img-ver-detalles-del-evento div div {
	text-align: center;
}

.section-img-ver-detalles-del-evento div div img {
	width: 250px;
	height: 250px;
	object-fit: fill;
	border-radius: 20px;
}

.div-button-back-detalles-del-evento {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 58px;
	right: 15px;
	border: none;
	background-color: transparent;
}

.icon-buttom-regresar-detalles {
	font-size: 1.5rem;
	position: relative;
}

.icon-buttom-regresar-detalles:hover {
	transform: scale(1.1);
	color: #f24726;
	cursor: pointer;
}
