body {
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #fff;
	text-align: center;
}

.container-app {
	display: flex;
}

.panel-app {
	width: 20%;
}

.routes-app {
	width: 80%;
	background-color: #f8f9fa;
	max-height: 100vh;
	overflow: auto;

}